In [1]:
import pandas as pd
import sqlalchemy
from helpers import get_table_name_for_table_id

In [2]:
table_id = "1-10015132-11"
table = pd.read_csv('../data/01_raw/wiki-sql/{}.csv'.format(table_id), sep='\t')

table.head()

,player,no,nationality,position,years_in_toronto,schoolclub_team
0,Antonio Lang,21,United States,Guard-Forward,1999-2000,Duke
1,Voshon Lenard,2,United States,Guard,2002-03,Minnesota
2,Martin Lewis,"32, 44",United States,Guard-Forward,1996-97,Butler CC (KS)
3,Brad Lohaus,33,United States,Forward-Center,1996,Iowa
4,Art Long,42,United States,Forward-Center,2002-03,Cincinnati

In [3]:
engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:ugRqhUTaPF7e1B94@localhost/data_analysis')

In [5]:
table_name = get_table_name_for_table_id(table_id)

In [6]:
table.to_sql(table_name, con=engine, schema='dbo')