In [1]:
import json
import pandas as pd
import re

In [2]:
path = '/Users/bleopold/OneDrive/data-analysis/vendors/WikiSQL/data/dev.tables.jsonl'

In [3]:
def slugify(value):
    """
    Normalize string name to be able to save to disk
    
    Based on: https://stackoverflow.com/questions/295135/turn-a-string-into-a-valid-filename
    """
    value = re.sub('[^\w\s-]', '', value).strip().lower()
    value = re.sub('[^\w\s-]', '', value).strip().lower()
    value = value.replace(' ', '-')
    return value

In [4]:
def get_table_name(result):
    try:
        table_name = result["page_title"]
    except KeyError as e:
        table_name = result["name"]
        
    table_name_clean = slugify(table_name)
    return table_name_clean

In [5]:
def get_data_for_table_as_df(result):
    table_columns = result['header']
    table_rows = result['rows']

    table_df = pd.DataFrame(columns = table_columns)
    
    for table_row in table_rows:
        table_row_df = pd.DataFrame(columns = table_columns, data=[table_row])
        table_df = table_df.append(table_row_df)
    
    table_df.reset_index(drop=True, inplace=True)
    return table_df

In [6]:
with open(path, 'r') as json_file:
    json_list = list(json_file)

for json_str in json_list:
    result = json.loads(json_str)
    
    table_name = get_table_name(result)
    table = get_data_for_table_as_df(result)
    
    table_file_path = '../data/01_raw/wiki-sql/{}.csv'.format(table_name)
    table.to_csv(table_file_path, sep='\t', index=False)

In [8]:
df = pd.read_csv("../data/01_raw/wiki-sql/internet-in-africa.csv", sep='\t')

df.head()

,Nation,Population (thousands),Internet subscriptions (2000) (thousands of users),Internet subscriptions (2008) (thousands of users),% growth (2000–2008),% Internet users
0,Algeria,33770,50,3500,69,10
1,Angola,12531,30,100,233,1
2,Benin,8295,15,150,900,2
3,Botswana,1842,15,80,433,4
4,Burkina Faso,15265,10,80,700,1